.container.my-5
  .row
    .col-lg-8.mx-auto
      h1.mb-4 About Us
      p.lead This is a test page to demonstrate automatic view rendering.
      p The StaticPagesController can now render this view without a defined action.
      p The body tag will have the CSS classes: controller-static-pages action-about

