.container.my-5
  .row
    .col-lg-8.mx-auto
      h1.mb-4 Our Team
      p.lead Meet the amazing people behind Rails Blueprint.
      p This page demonstrates nested folder support in static pages.

